/* Estilos generales */
body {
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    width: 900px;
    height: 650px;
    margin: 50px auto; /* Auto para centrar horizontalmente */
    background-color: white;
    font-family: "Avelar Light", sans-serif;
}

/* Estilos para el header */
header {
    height: 60px;
    background-color: #B58A69;
    color: #BADA55;
    text-align: center;
    font-size: 24px;
}

/* Estilos para el menú de navegación */
nav {
    font-size: 18px;
    color: #000;
    text-align: center;
    font-family: "Avelar Light", sans-serif;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color: red;
}

@media (max-width: 650px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav li {
        display: block;
        margin: 10px 0;
    }
}

/* Estilos para la sección "sesion" */
#sesion {
    display: flex;
    background-color: #DEE5DE;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: "Avelar Light", sans-serif;
}

#sesion-imagen img {
    width: 320px;
    margin: 50px; /* Margen de 50px en la parte superior de la imagen */
    height: 180px;
}
#ver-mas {
    background-color: #5E5E4A;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: -20px;
    border: none;
    cursor: pointer;
}

#sesion-texto {
    font-size: 16px;
    max-width: 60%;
}

#sesion-texto h2 {
    font-size: 24px;
    color: #000;
}

#sesion-texto p {
    text-align: justify;
    background-color: #DEE5DE;
    padding: 20px;
}

/* Estilos para el aside */
aside {
    font-size: 40px;
    color: #000;
    background-color: #D7D7CB;
    text-align: center;
    padding: 20px;
}

aside img {
    width: 350px;
    height: 220px;
}

/* Estilos para el footer */
footer {
    font-size: 14px;
    color: #E8E6E6;
    background-color: #5E5E4A;
    text-align: center;
    padding: 10px;
}

/* Estilos para el contenido principal */
main {
    text-align: center;
}

/* Estilos para la sección "Flores de primavera" */
#imagenes-flores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que las imágenes se envuelvan a la siguiente fila si no caben en una sola fila */
}

#imagenes-flores img {
    width: 200px; /* Establece el ancho de todas las imágenes */
    height: 170px; /* Establece la altura de todas las imágenes */
    margin: 10px; /* Espacio entre las imágenes */
}